/* GLOBAL */

:root {
    --main-font: "Kanit", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    
}

section {
    background-color: black !important;
}

h1 {
    font-family: var(--main-font);
    font-weight: 400;
}

.heading {
    font-family: var(--main-font);
    font-weight: 400;
}

.search-heading {
    font-family: var(--main-font);
    font-weight: 400;
}

