/* RESETS */
:root {
    --main-font: "Kanit", sans-serif;
}

html, body {
    height: 100%;
}

/* section {
    background-color: black !important;
} */

h1 {
    font-family: var(--main-font);
    font-weight: 400;
}

/* GLOBAL */
.heading {
    font-family: var(--main-font);
    font-weight: 400;
}

.search-heading {
    font-family: var(--main-font);
    font-weight: 400;
}

.footer {
    padding: 30px;
    background-color: hsl( 221 , 14% , 9% );
  
}

/* CUSTOM STYLES */
div.hero-head {
    background-color: hsl( 221 , 14% , 9% );
}

/* header.navbar {
    height: 200px;
} */

.navbar-item img.logo {
    max-height: 80px;
}

section.has-bg-img { 
    background-image: url("./assets/images/Wine-and-Dine.png");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

#about-us {
    background-color: hsl( 221 , 14% , 9% );
}

footer p {
    font-size: 14px;
    padding: 0 3%;
}

.footer img.logo {
    max-height: 35px;
}
